main {
  width: 100%;
  min-height: 947px;
  background: #ffffff;
}

main .login {
  width: 640px;
  height: auto;
  margin: 0 auto;
  padding: 50px 0;
  box-sizing: border-box;
}

main .login .login_all {
  width: 640px;
  height: auto;
  margin-bottom: 50px;
}

main .login .login_top {
  width: 640px;
  height: auto;
  margin-bottom: 50px;
}

main .login .top_all {
  width: 640px;
  height: auto;
}

main .login .top {
  width: 640px;
  height: auto;
  margin-bottom: 50px;
}

main .login .top .txt {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.025em;
  color: #111111;
  margin-bottom: 50px;
  text-align: center;
}

main .login .box_all {
  width: 640px;
  height: 74px;
  display: flex;
}

main .login .box_all .box {
  width: 320px;
  height: 74px;
  padding: 20px 50px;
  box-sizing: border-box;
  appearance: none;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.025em;
  color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cacaca;
  background: #e4e4e4;
  cursor: pointer;
}

main .login .box_all .box:first-child {
  border: 1px solid #111111;
  background: #ffffff;
}

main .login .box_all .box:last-child {
  color: #a1a1a1;
}

main .login .box_all .box.active {
  border: 1px solid #111111;
  background: #ffffff;
  color: #111111;
}

main .login .box_all .box.inactive {
  border: 1px solid #cacaca;
  background: #e4e4e4;
  color: #a1a1a1;
}

main .login .idpw {
  width: 640px;
  height: auto;
  margin-bottom: 24px;
}

main .login .idpw .id,
main .login .idpw .pw {
  width: 640px;
  height: 65px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  background: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.025em;
  color: #111111;
  display: block;
}

main .login .idpw .id:focus,
main .login .idpw .pw:focus {
  border-color: #111111;
  outline: none;
}

main .login .idpw input::placeholder {
  color: #a1a1a1;
}

main .login .idpw .id {
  margin-bottom: 24px;
}

main .login .sf_all {
  width: 640px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .login .save_all {
  width: 320px;
  height: 36px;
}

main .login .checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}

main .login .checkbox input[type="checkbox"] {
  width: 36px;
  height: 36px;
  margin: 0;
  border: 1px solid #cacaca;
  appearance: none;
  background: #ffffff;
  cursor: pointer;
}

main .login .checkbox input[type="checkbox"]:checked {
  background-color: #111111;
  border-color: #111111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M20.285 6.709a1 1 0 0 1 .006 1.414l-9.2 9.28a1 1 0 0 1-1.42 0l-5.05-5.094a1 1 0 1 1 1.42-1.408l4.34 4.375 8.49-8.56a1 1 0 0 1 1.414-.007z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

main .login .checkbox label {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.025em;
  color: #a1a1a1;
}

main .login .checkbox input[type="checkbox"]:checked + label {
  color: #111111;
}

main .login .find_all {
  width: 320px;
  height: 45px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}

main .login .find_id,
main .login .find_pw {
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.025em;
  color: #a1a1a1;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

main .login .find_id {
  width: 101px;
}

main .login .line {
  width: 0;
  height: 18px;
  border-left: 1px solid #a1a1a1;
}

main .login .find_pw {
  width: 116px;
}

main .login .login_bottom {
  width: 640px;
  height: auto;
}

main .login .login_box,
main .login .join_box {
  width: 640px;
  height: 65px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.025em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

main .login .login_box {
  margin-bottom: 24px;
  background: #c83335;
  color: #ffffff;
}

main .login .join_box {
  border: 1px solid #cacaca;
  color: #111111;
}

main .login .easy {
  width: 640px;
  height: auto;
}

main .login .easy .txt {
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.025em;
  color: #111111;
  margin-bottom: 50px;
  text-align: center;
}

main .login .easy_all {
  width: 640px;
  height: 60px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

main .login .easy_all .kakao,
main .login .easy_all .naver,
main .login .easy_all .google,
main .login .easy_all .apple {
  width: 60px;
  height: 60px;
  padding: 14px;
  box-sizing: border-box;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

main .login .easy_all .sns {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .login .easy_all .sns img {
  display: block;
  object-fit: contain;
}

main .login .easy_all > a:nth-child(1) .sns img {
  width: 42px;
  height: 42px;
}

main .login .easy_all > a:nth-child(2) .sns img {
  width: 48px;
  height: 48px;
}

main .login .easy_all > a:nth-child(3) .sns img {
  width: 28px;
  height: 28px;
}

main .login .easy_all > a:nth-child(4) .sns img {
  width: 42px;
  height: 42px;
}

main .login .easy_all .kakao {
  background: #e9ef2f;
}

main .login .easy_all .naver {
  background: #03c75a;
}

main .login .easy_all .google {
  background: #c4c4c4;
}

main .login .easy_all .apple {
  border: 1px solid #c7c7c7;
}
